# TASK 5 - MILESTONE 2
---

# Packages used for analysis

In [2]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# Initial Hypothesis 
---

### Health care remains a very important issue in todays world where the majority of the costs are thrown on patients. In the United States, health insurance is major concern given that public health insurance is not an option. This leaves millions of individuals without any health insurance if they are not able to afford insurance provided by the private sector. Could it be possible that different medical expenses are incurred based on geographic location, sex or age? Could individuals with different demographics be incurring different costs? These are all questions worth investigating and what we hope to answer through our analysis!

# DATASET
---

In [9]:
df = pd.read_csv('https://gist.githubusercontent.com/meperezcuello/82a9f1c1c473d6585e750ad2e3c05a41/raw/d42d226d0dd64e7f5395a0eec1b9190a10edbc03/Medical_Cost.csv')
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [13]:
from project_functions import load_and_process
df2 = load_and_process('https://gist.githubusercontent.com/meperezcuello/82a9f1c1c473d6585e750ad2e3c05a41/raw/d42d226d0dd64e7f5395a0eec1b9190a10edbc03/Medical_Cost.csv')
df2

ModuleNotFoundError: No module named 'project_functions'